/* Wipe any browser defaults out for easy restyling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 18px 'Droid Sans', Helvetica, sans-serif;
  color: #434343;
  background-color: #F5F5F1;
}
