#sandBoxIndex {
  background-color: #222;
  color: #999;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flexbox;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: stretch;
  align-content: stretch;
}

#sandBoxIndex a.back-home {
  display: block;
  width: 100%;
  padding: 1em;
}

#sandBoxIndex .project {
  margin: 1em;
  padding: 1em;
  width: 40%;
  box-sizing: border-box;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

#sandBoxIndex .project:nth-child(3),
#sandBoxIndex .project:nth-child(4) {
  background-color: #555;
  color: #222;
}

#sandBoxIndex .project figure.project-img {
  width: 90%;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}

#sandBoxIndex .project figure.project-img.memory-game {
  background-image: url("../img/sandbox_tile.png");
}

#sandBoxIndex .project figure.project-img.clip-path {
  background-image: url("../img/clip-path-tile.png");
}

#sandBoxIndex .project figure.project-img.flex-layout {
  background-image: url("../img/flex-layout-tile.png");
}

#sandBoxIndex .project figure.project-img.gear-calculator {
  background-image: url("../img/gear-calculator-tile.png");
}

#sandBoxIndex .project h2 {
  padding: 1em 0;
}

#sandBoxIndex .project h3,
#sandBoxIndex .project li {
  padding: .2em 0;
}

#sandBoxIndex .project p {
  padding: 1em 0;
  line-height: 1.4;
}

#sandBoxIndex .project a {
  display: block;
  margin: .5em 0;
}

#sandBoxIndex .project h3 {
  font-size: 1.3em;
}

#sandBoxIndex .project ul {
  padding: 0;
  list-style-type: none;
}

@media only screen and (max-width: 767px) {
  #sandBoxIndex .project,
  #sandBoxIndex .project:nth-child(3),
  #sandBoxIndex .project:nth-child(4) {
    width: 100%;
    background-color: #555;
    color: #222;
  }

  #sandBoxIndex .project figure.project-img {
    height: 150px;
    width: 100%:
    margin: 0;
  }
}

/*@media only screen and (max-width: 500px) {
  #sandBoxIndex .project figure.project-img {
    height: 150px;
    width: 100%:
  }
}*/
